.navigation{
    height:5vh;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15vh 0;
    &__links{
        display:flex;
        justify-content: center;
        a{
            color:#33A0FF;
            font-size:14px;
            text-decoration: none;
        }
    }
    &__links > *{
        font-weight: 600;
        padding-right:15px;
    }
}

.contentPage10{
    display: flex;
    justify-content: space-between;
}
.items-left{
    width: 70%;
    border: 1px solid red;
}
.items-left-details{
    display: flex;
    justify-content: space-between;

    &--productImages{
        // border: 1px solid red;
        background-color: lightskyblue;

        &--largeView{
            // border: 1px solid blue;
            height: 350px;

            img{
                object-fit: contain;
                height: 100%;
                width: 100%;
            }

        }
        &--listImages{
            display: flex;

            &--small{
                border: 1px solid lightgray;
                margin: 0 10px;
                padding: 8px;
            }
        }
    }
    &-productDetails{
        width: 52%;
        background-color: pink;
    }
}


.socialmedia{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

    &--facebook{
        border: none;
        background-color: blue;
        color: white;
        padding: 10px 20px;
        margin-right: 10px;
        font-weight: bolder;
        border-radius: 3px;

        i{
            color: whites;
            margin-right: 10px;
        }
    }
    &--twitter{
        border: none;
        background-color:#33A0FF;
        color: white;
        padding: 10px 20px;
        font-weight: bolder;
        border-radius: 3px;

        i{
            color: whites;
            margin-right: 10px;
        }
    }
}
.items-right{
    width: 30%;
    border: 1px solid green;
}