
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('./fonts/proxima/ProximaNova-Regular.woff2') format('woff2'),
        url('./fonts/proxima/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    //font-family: 'Raleway', sans-serif;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    font-style: normal;
}

.container{
    width:70vw;
    height:auto;
    margin: auto;
}

.header{
    display:flex;
    justify-content: space-between;
    height:10vh;
    align-items: center;
    font-size:14px;
    &__account{
        display:flex;
        align-items: center;
        gap:1rem;
        font-weight: 600;
        &--item{
            display:flex;
            gap:.5rem;
            align-items: center;
            small{
                font-weight:100;
            }
        }
        &--item:nth-child(3){
            margin: 0 0 0 30px;
        }
    }
    &__lang{
        display:flex;
        gap:1rem;
        select,select:active{
            border:none;
        }
    }
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    h1{
        font-size:32px;
        text-transform: uppercase;
        font-weight: bold;
    }
    h1:nth-child(2){
        color:#FD2E2E;
    }
}

.links{
    margin:0 0 10vh 0;
    &__nav{
        
        &--links{
            display:flex;
            justify-content: center;
            gap:4rem;
            li{
                list-style-type: none;
                text-transform: uppercase;
                font-weight: bolder;
                font-size:14px;
                a{
                    color:black;
                    text-decoration: none;
                }
                a:hover, a:active{
                    color:#33A0FF;
                }
            }
            
        }
    }
}

.banner{
    height:90vh;
    background: transparent linear-gradient(63deg, var(--unnamed-color-ff4858) 0%, var(--unnamed-color-8f65ff) 100%) 0% 0% no-repeat padding-box!important;
    background: transparent linear-gradient(63deg, #FF4858 0%, #8F65FF 100%) 0% 0% no-repeat padding-box!important;
    opacity: 1;
    position: relative;
    margin:0 0 40vh 0;
    &__flag{
        position: relative;
        height:100%;
        width:75vw;
        margin:auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
        .flag__text, .flag__pic{
            color:white;
        }
        i{
            flex:2;
        }
        i:nth-child(4){
            display:flex;
            justify-content: flex-end;
        }
        .flag__text{
            flex:4;
            display:flex;
            flex-direction: column;
            gap:4rem;
            width:100%;
            h1{
                font-size:36px;
                font-weight: bold;
            }
            span{
                font-size:14px;
                line-height: 1.5rem;
            }
            a{
                text-decoration: none;
                color:white;
                width:45px;
                padding-bottom:5px;
            }
            a:hover{
                margin-bottom: -3px;
                border-bottom: 3px solid white;
            }
        }
        .flag__pic{
            flex:4;
            img{
                width:40vw;
            }
        }
    }
    &__mini{
        display:flex;
        position:relative;
        top:-10vh;
        width:70vw;
        margin:auto;
        flex-wrap: wrap;
        h1{
            font-size:24px;
        }
        span{
            font-size:12px;
            line-height: 1.5rem;
        }
        .item-1,.item-2,.item-3{
            flex:4;
            padding:25px;
            height:280px;
            width:390px;
        }
        .item-1{
            background-color: #FF6875;
            color:white;
            overflow: hidden;
            display:flex;
            &__text{
                position: absolute;
                display:flex;
                flex-direction: column;
                gap:2rem;
                span{
                    width:70%;
                }
                h1:nth-child(3){
                    opacity: 75%;
                }
            }
            &__pic{
                img{
                    position:relative;
                    object-fit: cover;
                    max-width:316px;
                    max-height:538px;
                    right:-40px;
                }
            }
        }
        .item-2{
            position: relative;
            background-color: #F6F7F8;
            &__pic{
                position: absolute;
                top:-50px;
                img{
                    object-fit: cover;
                    max-height:322px;
                    max-width:322px;
                }
            }
            &__text{
                position: relative;
                bottom:-200px;
                display:flex;
                justify-content: space-between;
            }
        }
        .item-3{
            background-color: #C1C8CE;
            display:flex;
            gap:2rem;
            &__text{
                display:flex;
                flex-direction: column;
                gap:2rem;
                width:50%;
            }
            &__pic{
                position: absolute;
                width: 200px;
                height: 150px;
                bottom:50px;
                right: 50px;
            }
        }
    }
}

.banner-2{
    height:600px;
    background-color: #2E90E5;
    display: flex;
    justify-content: center;
    margin:10vh 0;
    
    &__flag{
        width:70vw;
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:3rem;
        &__text{
            display:flex;
            flex-direction: column;
            gap:4rem;
            width:40%;
            span{
                font-size:66px;
                font-weight:100;
                line-height: 1.6;
                
            }
            span:nth-child(2){
                font-size:24px;
            }
            a{
                color:white;
                text-decoration: none;
                width:90px;
                padding-bottom: 10px;
            }
            a:hover{
                margin-bottom:-3px;
                border-bottom: 3px solid white;
            }
        }
        &__pic{
            overflow:hidden;
            height:630px;
            position: relative;
            top:-15px;
            img{
                height: 709px;
                object-fit: cover;
            }
            
        }
    }
    color:white;
    
}

@media screen and (max-width:600px){
    .banner-2{
        &__flag{
            padding:0 0 0 20px;
            width:100vw;
        }
    }
}


