.items-container {
  width: 70%;
  margin-left: auto;
}

.items-container-menusettings {
  background-color: #fbf9f9;
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-container-menusettings--left--items {
  margin-right: 30px;
}

.items-container-menusettings--left--sort {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.items-container-menusettings--left--selectNames {
  padding: 5px;
  width: 100px;
  margin-right: 30px;
}

.items-container-menusettings--left--show {
  margin-right: 10px;
}

.items-container-menusettings--left--number {
  padding: 5px;
  width: 100px;
}

.items-container-menusettings--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-container-menusettings--icons i {
  margin-left: 10px;
  font-size: 15pt;
  color: lightgray;
}

.items-container-menusettings--icons i:hover {
  color: #33A0FF;
}

.items-container-menus {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}

.items-container-menus-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 40px 0;
}

.items-container-menus-boxes::after {
  content: "HOT";
  position: absolute;
  background-color: #FD2E2E;
  padding: 5px 10px;
  left: 10px;
  top: 10px;
  font-size: 10pt;
  font-weight: bolder;
  color: white;
}

.items-container-menus-boxes--img {
  border: 1px solid lightgray;
  padding: 60px 10px;
}

.items-container-menus-content {
  margin-left: 20px;
}

.items-container-menus-content--h3 {
  font-weight: bolder;
}

.items-container-menus-content--smallDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-container-menus-content--smallDetails--str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: yellow;
  margin-right: 10px;
}

.items-container-menus-content--smallDetails--str i {
  font-size: 8pt;
}

.items-container-menus-content--smallDetails--reviews {
  color: lightgray;
  margin-right: 10px;
}

.items-container-menus-content--smallDetails--subReviews {
  color: #33A0FF;
  font-weight: bolder;
}

.items-container-menus-content--price {
  font-size: 18pt;
}

.items-container-menus-content--price p {
  margin-right: 10px;
}

.items-container-menus-content--p {
  letter-spacing: 1px;
  line-height: 1.6;
  margin: 20px 0;
}

.items-container-menus-content--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-container-menus-content--buttons--add {
  padding: 20px;
  margin-right: 10px;
  border: none;
  color: #33A0FF;
  background-color: #dfe8f0;
  border-radius: 5px;
  font-size: 12pt;
}

.items-container-menus-content--buttons--add i {
  margin-right: 10px;
}

.items-container-menus-content--buttons--heart {
  padding: 20px;
  border: none;
  color: #33A0FF;
  background-color: #dfe8f0;
  border-radius: 5px;
  font-size: 12pt;
}

hr {
  border: 1px solid #f6f6f6;
}

.items-container-menuNumbers {
  background-color: #fbf9f9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

.items-container-menuNumbers a {
  text-decoration: none;
  color: #04042e;
  margin: 0 8px;
  padding: 15px 23px;
  font-weight: bolder;
}

.items-container-menuNumbers a:hover {
  color: white;
  background-color: #04042e;
}
/*# sourceMappingURL=page9.css.map */