@font-face {
    font-family: "Proxima Nova Rg";
    src: url("/fonts/proxima/ProximaNova-Regular.woff2") format("woff2"), url("/fonts/proxima/ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova Rg";
     font-weight: normal;
     font-style: normal;
    
}
.container{
    width: 70vw;
    // border: 1px solid red;
    margin: 0 auto;

}
.foot-sec1{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.foot-sec1-fticons{
    display: flex;

    &-fb{
        margin-right: 40px;
        color: blue;
    }
    &-twit{
        color: skyblue;
    }
}
.foot-sec1-rakuinfo{
    // border: 1px solid red;
    width: 30%;

    &-h3{
        color:lightgray ;
        font-weight: bolder;
    }
    &-p{
        margin: 25px 0;
    }

}
.foot-sec1-follow{
    // border: 1px solid blue;
    width: 30%;
    padding: 16px 0;
    &-h5{
        font-weight: bolder;
    }
    &-p{
        margin: 14px 0 30px 0;
    }
}
.foot-sec1-contact{
    // border: 1px solid green;
    width: 30%;
    padding: 16px 0;
    &-h5{
        font-weight: bolder;
    }
    &-p{
        margin: 12px 0;

        span{
            display: block
        };
    }

}
.foot-sec2{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    &-information{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;
        }
        p{
            margin: 8px 0;
        }
    }
    &-services{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }
    &-extras{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }
    &-myaccount{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }
    &-usefullinks{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }
    &-ouroffers{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }

}
.header{
    display:flex;
    justify-content: space-between;
    height:10vh;
    align-items: center;
    font-size:14px;
    &__account{
        display:flex;
        align-items: center;
        gap:1rem;
        font-weight: 600;
        &--item{
            display:flex;
            gap:.5rem;
            align-items: center;
            small{
                font-weight:100;
            }
        }
        &--item:nth-child(3){
            margin: 0 0 0 30px;
        }
    }
    &__lang{
        display:flex;
        gap:1rem;
        select,select:active{
            border:none;
        }
    }
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    h1{
        font-size:32px;
        text-transform: uppercase;
        font-weight: bold;
    }
    h1:nth-child(2){
        color:#FD2E2E;
    }
}

.links{
    &__nav{
        
        &--links{
            display:flex;
            justify-content: center;
            gap:4rem;
            li{
                list-style-type: none;
                text-transform: uppercase;
                font-weight: 600;
                font-size:14px;
                a{
                    color:black;
                    text-decoration: none;
                }
                a:hover, a:active{
                    color:#33A0FF;
                }
            }
            
        }
    }
}


.bs-category-title-h3{
    text-align: center;
}
.bs-category-menu{
    display: flex;
    justify-content: center;
    
    
    &--ul{
        list-style-type: none;

        li{
            display: flex;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}


.bs-category-gallery--one{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    &--box{
            width: 240px;
            height: 280px;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
    &--image{
        width: 200px;
    }
    &--h4{
        margin: 20px 0;
    }
    &--stars{
        display: flex;
        color: yellow;

        &--last{
            color: lightgray;
        }
    }
    &--price{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        width: 85px;
        &--enabled{
            color: red;
        }
        &--disabled{
            color: lightgray;
            text-decoration: line-through;
        }
    }

    }


}
.hot{
    position: relative;

    &::after{
        content: "HOT";
        position:absolute;
        background-color: #FD2E2E;
        padding: 5px;
        left: 5px;
        top: 5px;
        font-size: 8pt;
        color: white;
    }
}

.bs-category-gallery--two{
    @extend .bs-category-gallery--one;
    margin-top: 30px;
}
.load-link{
    margin-top: 80px;

    a{
        color: skyblue;
    }
}
.others-category-freefundsupport{
    display: flex;
    justify-content: space-between;

    &--box{
        width: 330px;
        height: 150px;
        border: 1px solid red;
        text-align: center;
    }
}