.navigation{
    height:5vh;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15vh 0;
    &__links{
        display:flex;
        justify-content: center;
        a{
            color:#33A0FF;
            font-size:14px;
            text-decoration: none;
        }
    }
    &__links > *{
        font-weight: 600;
        padding-right:15px;
    }
}

.page11{
    display:flex;
    flex-direction: column;
    gap:3rem;
}