.navigation {
  height: 5vh;
  background-color: #F6F7F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15vh 0;
}

.navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__links a {
  color: #33A0FF;
  font-size: 14px;
  text-decoration: none;
}

.navigation__links > * {
  font-weight: 600;
  padding-right: 15px;
}

.contentPage10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-left {
  width: 75%;
}

.items-left-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-left-details-h2 {
  font-weight: bolder;
}

.items-left-details--productImages--largeView {
  height: 350px;
  width: 412px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.items-left-details--productImages--largeView img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.items-left-details--productImages--listImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-left-details--productImages--listImages--small {
  border: 2px solid lightgray;
  margin: 0 10px;
  padding: 8px;
}

.items-left-details--productImages--listImages--small:hover {
  border: 2px solid blue;
}

.items-left-details-productDetails {
  width: 52%;
}

.items-left-details-productDetails-free {
  font-weight: bold;
  margin: 20px 0;
}

.items-left-details-productDetails-reviewDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10pt;
  margin: 20px 0;
}

.items-left-details-productDetails-reviewDetails i {
  color: yellow;
}

.items-left-details-productDetails-reviewDetails--reviews {
  color: lightgray;
  margin: 0 10px;
}

.items-left-details-productDetails-reviewDetails--subReviews {
  color: #33A0FF;
  font-weight: bolder;
}

.price-bolder {
  font-size: 18pt;
}

.price-bolder-red {
  margin-right: 10px;
}

.stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.stock--label {
  margin-right: 50px;
  font-weight: bold;
}

.stock--value {
  color: #7a7a7a;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.category--label {
  font-weight: bold;
  margin-right: 60px;
}

.category--value {
  color: #7a7a7a;
}

.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.color-label {
  font-weight: bold;
  margin-right: 28px;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.color-option {
  position: relative;
  width: 35px;
  height: 35px;
  display: inline-block;
  margin: 0 5px;
}

.color-option span {
  position: absolute;
  width: 88%;
  height: 88%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.color-option span:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.color-option span.blue:after {
  background: #d75088;
}

.color-option span.red:after {
  background: #f83f38;
}

.color-option span.black:after {
  background: #171717;
}

.color-option span.white:after {
  background: #b6b6b6;
}

.color-option span.peach:after {
  background: #ca9b97;
}

.color-option input[type="radio"]:checked ~ .blue {
  border: 2px solid #d75088;
}

.color-option input[type="radio"]:checked ~ .red {
  border: 2px solid #f83f38;
}

.color-option input[type="radio"]:checked ~ .black {
  border: 2px solid #171717;
}

.color-option input[type="radio"]:checked ~ .white {
  border: 2px solid #b6b6b6;
}

.color-option input[type="radio"]:checked ~ .peach {
  border: 2px solid #ca9b97;
}

.sizing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.sizing-label {
  font-weight: bold;
  margin-right: 100px;
}

.sizing-select {
  width: 120px;
  border: 1px solid #c1c8ce;
  background-color: transparent;
  color: black;
  padding: 10px;
}

.sizing-select:focus {
  outline: none;
}

.bottomOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.numOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numOrder--sub {
  color: #33A0FF;
  border: none;
  background-color: #f4f3f3;
  padding: 8px 14px;
  font-size: 8pt;
  font-weight: bolder;
  cursor: pointer;
}

.numOrder--sub:focus {
  outline: none;
}

.numOrder--value {
  color: black;
  border: none;
  background-color: #f4f3f3;
  padding: 10px 14px;
  font-size: 10pt;
  font-weight: bolder;
}

.numOrder--add {
  color: #33A0FF;
  border: none;
  background-color: #f4f3f3;
  padding: 8px 14px;
  font-size: 10pt;
  font-weight: bolder;
  cursor: pointer;
}

.numOrder--add:focus {
  outline: none;
}

.buttonCartheart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttonCartheart-add {
  padding: 10px;
  margin-right: 10px;
  border: none;
  color: #33A0FF;
  background-color: #dfe8f0;
  border-radius: 3px;
  font-size: 10pt;
}

.buttonCartheart-add i {
  margin-right: 10px;
}

.buttonCartheart-heart {
  padding: 10px;
  border: none;
  color: #33A0FF;
  background-color: #dfe8f0;
  border-radius: 3px;
  font-size: 10pt;
}

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 20px 0;
}

.socialmedia--facebook {
  border: none;
  background-color: #385c8e;
  color: white;
  padding: 15px 60px;
  margin-right: 10px;
  font-weight: bolder;
  border-radius: 3px;
}

.socialmedia--facebook i {
  color: whites;
  margin-right: 10px;
}

.socialmedia--twitter {
  border: none;
  background-color: #44aaf4;
  color: white;
  padding: 15px 60px;
  font-weight: bolder;
  border-radius: 3px;
}

.socialmedia--twitter i {
  color: whites;
  margin-right: 10px;
}

.productInformation {
  width: 100%;
  background-color: #fafafb;
  padding: 30px;
}

.productInformation--hr {
  border: 2px solid #f0f1f2;
}

.productInformation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.productInformation-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 40px;
  position: relative;
}

.productInformation-menu a:hover:after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #2e90e5;
}

.productInformation-p {
  margin-top: 20px;
  line-height: 25px;
}

.items-right {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-right-bestSeller {
  margin: 0 auto;
}

.items-right-bestSeller-h4 {
  color: #adadad;
  font-weight: bolder;
  margin-bottom: 30px;
}

.items-right-bestSeller-box {
  margin: 20px 0;
}

.items-right-bestSeller-box--img {
  width: 240px;
}

.items-right-bestSeller-box--img img {
  width: 200px;
  margin-left: 18px;
}

.items-right-ads {
  margin: 60px auto;
  width: 240px;
  padding: 30px;
  background-color: #c1c8ce;
}

.items-right-ads img {
  margin: 20px 0;
  width: 276px;
  margin-left: -50px;
}

.items-right-ads--h2 {
  font-weight: bolder;
}

.items-right-ads--p {
  font-size: 10pt;
  letter-spacing: 1.2;
  margin: 20px 0;
}

.items-right-ads--price {
  font-size: 20pt;
}

.related-products {
  margin: 130px 0;
}

.related-products-title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 50px;
}

.items-right-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.items-right-slides-button {
  width: 30px;
  height: 4px;
  background-color: #d3d3d3;
  border: none;
  margin: 0 3px;
}

.items-right-slides-button:hover, .items-right-slides-button :active {
  background-color: #44aaf4;
}

button:focus {
  outline: none;
}

button:focus:hover {
  cursor: pointer;
}
/*# sourceMappingURL=page10.css.map */