.items-container {
  width: 70%;
  margin-left: auto;
}
.items-container-menusettings {
  background-color: #fbf9f9;
  width: 100%;
  margin-top: 30px;
  margin-bottom: -30px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.items-container-menusettings--left--items {
  margin-right: 30px;
}
.items-container-menusettings--left--sort {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.items-container-menusettings--left--selectNames {
  padding: 5px;
  width: 100px;
  margin-right: 30px;
  border: 1px solid #f0ecec;
  background-color: transparent;
}
.items-container-menusettings--left--selectNames:focus {
  outline: none;
}
.items-container-menusettings--left--show {
  margin-right: 10px;
}
.items-container-menusettings--left--number {
  padding: 5px;
  width: 100px;
  border: 1px solid #f0ecec;
  background-color: transparent;
}
.items-container-menusettings--left--number:focus {
  outline: none;
}
.items-container-menusettings--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items-container-menusettings--icons i {
  margin-left: 10px;
  font-size: 15pt;
  color: lightgray;
}
.items-container-menusettings--icons i:hover {
  color: #33A0FF;
}

.items-container-menus {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}
.items-container-menus-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 40px 0;
}
.items-container-menus-boxes::after {
  content: "HOT";
  position: absolute;
  background-color: #FD2E2E;
  padding: 5px 10px;
  left: 10px;
  top: 10px;
  font-size: 10pt;
  font-weight: bolder;
  color: white;
}
.items-container-menus-boxes--img {
  border: 1px solid lightgray;
  padding: 60px 10px;
}
.items-container-menus-content {
  margin-left: 20px;
}
.items-container-menus-content--h3 {
  font-weight: bolder;
}
.items-container-menus-content--smallDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items-container-menus-content--smallDetails--str {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: yellow;
  margin-right: 10px;
}
.items-container-menus-content--smallDetails--str i {
  font-size: 8pt;
}
.items-container-menus-content--smallDetails--reviews {
  color: lightgray;
  margin-right: 10px;
}
.items-container-menus-content--smallDetails--subReviews {
  color: #33A0FF;
  font-weight: bolder;
}
.items-container-menus-content--price {
  font-size: 18pt;
}
.items-container-menus-content--price p {
  margin-right: 10px;
}
.items-container-menus-content--p {
  letter-spacing: 1px;
  line-height: 1.6;
  margin: 20px 0;
}
.items-container-menus-content--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-container-menus-content--buttons--add {
  padding: 20px;
  margin-right: 10px;
  border: none;
  color: #33A0FF;
  background-color: #dfe8f0;
  border-radius: 5px;
  font-size: 12pt;
}
.items-container-menus-content--buttons--add i {
  margin-right: 10px;
}
.items-container-menus-content--buttons--heart {
  padding: 20px;
  border: none;
  color: #33A0FF;
  background-color: #dfe8f0;
  border-radius: 5px;
  font-size: 12pt;
}

hr {
  border: 1px solid #f6f6f6;
}

.hr-properties {
  width: 80%;
}

.items-container-menuNumbers {
  background-color: #fbf9f9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}
.items-container-menuNumbers a {
  text-decoration: none;
  color: #04042e;
  margin: 0 8px;
  padding: 15px 23px;
  font-weight: bolder;
}
.items-container-menuNumbers a:hover {
  color: white;
  background-color: #04042e;
}

.page9-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.page9-container .menu-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.page9-container .menu-container a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.page9-container .menu-container li:hover, .page9-container .menu-container a:hover {
  color: #33A0FF;
}
.page9-container .menu-container li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page9-container .menu-container li span {
  font-weight: bold;
  opacity: 50%;
}
.page9-container .menu-container h3 {
  font-weight: bold;
  text-transform: uppercase;
}
.page9-container .menu-container__accessories, .page9-container .menu-container__prices, .page9-container .menu-container__color, .page9-container .menu-container__brand, .page9-container .menu-container__more {
  padding: 20px 20px 40px 20px;
  background-color: #F6F7F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  border-radius: 5px;
}
.page9-container .menu-container__accessories--categories__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  color: black;
}
.page9-container .menu-container__prices--price-range form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.page9-container .menu-container__prices--price-range form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page9-container .menu-container__color--color-selection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page9-container .menu-container__color--color-selection form input[type=radio]:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.page9-container .menu-container__color--color-selection form #c006CFF:after {
  background-color: #006CFF;
}
.page9-container .menu-container__color--color-selection form #cFC3E39:after {
  background-color: #FC3E39;
}
.page9-container .menu-container__color--color-selection form #c171717:after {
  background-color: #171717;
}
.page9-container .menu-container__color--color-selection form #cFF00B4:after {
  background-color: #FF00B4;
}
.page9-container .menu-container__color--color-selection form #cFFF600:after {
  background-color: #FFF600;
}
.page9-container .menu-container__color--color-selection form #cEFDFDF:after {
  background-color: #EFDFDF;
}
.page9-container .menu-container__color--color-selection form input[type=radio]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
  left: -1px;
  position: relative;
  content: "";
  border: 2px solid black;
}
.page9-container .menu-container__brand--brand__selection__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  color: black;
}
.page9-container .menu-container__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  padding: 20px;
}
.page9-container .menu-container__more h3 {
  font-weight: 300;
}
.page9-container .items-container {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}
.page9-container .items-container .banner-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2E90E5;
  height: 340px;
}
.page9-container .items-container .banner-3__text, .page9-container .items-container .banner-3__pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 4em;
  color: white;
}
.page9-container .items-container .banner-3__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
.page9-container .items-container .banner-3__text h1 {
  font-size: 42px;
  font-weight: 100;
  opacity: 90%;
}
.page9-container .items-container .banner-3__text span {
  font-size: 16px;
  opacity: 75%;
  line-height: 1.6;
}
.page9-container .items-container .banner-3__text a {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 5px;
  width: 85px;
}
.page9-container .items-container .banner-3__text a:hover {
  margin-bottom: -4px;
  border-bottom: 4px solid white;
}
.page9-container .items-container .banner-3__pic {
  overflow: hidden;
}
.page9-container .items-container .banner-3__pic img {
  position: relative;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  top: -7.5em;
}/*# sourceMappingURL=page9.css.map */