.navigation{
    height:5vh;
    background-color: #F6F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 15vh 0;
    &__links{
        display:flex;
        justify-content: center;
        a{
            color:#33A0FF;
            font-size:14px;
            text-decoration: none;
        }
    }
    &__links > *{
        font-weight: 600;
        padding-right:15px;
    }
}

.contentPage10{
    display: flex;
    justify-content: space-between;
}
.items-left{
    width: 75%;
    // border: 1px solid red;
}
.items-left-details{
    display: flex;
    justify-content: space-between;

    &-h2{
        font-weight: bolder;
    }
    &--productImages{
        // border: 1px solid red;
        // background-color: lightskyblue;

        &--largeView{
            // border: 1px solid blue;
            height: 350px;

            img{
                object-fit: contain;
                height: 100%;
                width: 100%;
            }

        }
        &--listImages{
            display: flex;

            &--small{
                border: 1px solid lightgray;
                margin: 0 10px;
                padding: 8px;
            }
        }
    }
    &-productDetails{
        width: 52%;
        // background-color: pink;

        &-free{
                font-weight: bold;
                margin: 20px 0;
        }
        &-reviewDetails{
            display: flex;
            font-size: 10pt;
            margin: 20px 0;
    
            i{
                color: yellow;
            }
    
            &--reviews{
                color: lightgray;
                margin:0 10px;
            }
            &--subReviews{
                color: #33A0FF;
                font-weight: bolder;
            }
        }
    }
   
}
.price-bolder{
    font-size: 18pt;

    &-red{
        margin-right: 10px;
    }
}
.stock{
    display: flex;
    margin: 20px 0;

    &--label{
        margin-right: 50px;
        font-weight: bold;
    }
    &--value{
        color: #7a7a7a;

    }
}
.category{
    display: flex;
    margin: 20px 0;

    &--label{
        font-weight: bold;
        margin-right: 60px;
    }
    &--value{
        color: #7a7a7a;
    }
}

.color{
    display: flex;
    align-items: center;
    margin: 20px 0;

    &-label{
        font-weight: bold;
        margin-right: 28px;
    }
}
input[type="radio"] {
    opacity: 0;
    position: absolute;
  }
  
  .color-option {
    position: relative;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 5px;
  }
  
  .color-option span {
    position: absolute;
    width: 90%;
    height: 88%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
  }
  
  .color-option span:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    

  }
  
  .color-option span.blue:after {
    background: #2078f9;
  }
  .color-option span.red:after {
    background: #f83f38;
  }
  .color-option span.black:after {
    background: #171717;
  }
  .color-option span.yellow:after {
    background: #fce83e;
  }
  
  .color-option input[type="radio"]:checked ~ .blue {
    border: 2px solid #2078f9;
  }
  .color-option input[type="radio"]:checked ~ .red {
    border: 2px solid #f83f38;
  }
  .color-option input[type="radio"]:checked ~ .black {
    border: 2px solid #171717;
  }
  .color-option input[type="radio"]:checked ~ .yellow {
    border: 2px solid #fce83e;
  }
 
.sizing{
    display: flex;
    align-items: center;
    margin: 20px 0;

    &-label{
        font-weight: bold;
        margin-right: 100px;
    }   
    &-select{
        width: 120px;
        border: 1px solid #c1c8ce;
        background-color: transparent;
        color: black;
        padding: 10px;

        &:focus{
            outline: none;
        }
    } 
}
.bottomOptions{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.numOrder{
    display: flex;

    &--sub{
        color: #33A0FF;
        border: none;
        background-color: #f4f3f3;
        padding: 8px 14px;
        font-size: 8pt;
        font-weight: bolder;

        &:focus{
            outline: none;
        }
    }
    &--value{
        color:black;
        border: none;
        background-color: #f4f3f3;
        padding: 8px 14px;
        font-size: 8pt;
        font-weight: bolder;
    }
    &--add{
        color: #33A0FF;
        border: none;
        background-color:#f4f3f3;
        padding: 8px 14px;
        font-size: 10pt;
        font-weight: bolder;

        &:focus{
            outline: none;
        }
    }
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

    &--facebook{
        border: none;
        background-color:#385c8e;
        color: white;
        padding: 15px 60px;
        margin-right: 10px;
        font-weight: bolder;
        border-radius: 3px;

        i{
            color: whites;
            margin-right: 10px;
        }
    }
    &--twitter{
        border: none;
        background-color:#44aaf4;
        color: white;
        padding: 15px 60px;
        font-weight: bolder;
        border-radius: 3px;

        i{
            color: whites;
            margin-right: 10px;
        }
    }
}
.productInformation{
    width: 100%;
    background-color:#f6f6f6;
    padding: 30px;

    &-menu{
        display: flex;

        a{
        text-decoration:none;
        color: black;
        // font-weight: bolder;
        margin-right: 40px;
        margin-bottom: 20px;

        }
    }
    &-p{
        margin-top: 20px;
        line-height: 25px;
    }
}
.items-right{
    width: 25%;
    //  border: 1px solid green;
     display: flex;
     flex-direction: column;
     align-items: center;

    
}
.items-right-bestSeller{
    margin: 0 auto;

    &-h4{
        color: #adadad;
        font-weight: bolder;
    }
    &-box{
       margin: 20px 0;

        &--img{
            width: 240px;

            img{
                width: 200px;
                margin-left: 18px;
            }
        }
        
    }
}
.items-right-ads{
   margin: 60px auto;
    width: 240px;
    padding: 30px;
    background-color: #c1c8ce;
    
    img{
        margin: 20px 0;
        width: 276px;
        margin-left: -50px;
    }
    &--h2{
        font-weight: bolder;
    }
    &--p{
        font-size: 10pt;
        letter-spacing: 1.2;
        margin: 20px 0;
    }
    &--price{
        font-size: 20pt;
    }
}

.related-products{
    margin: 130px 0;

    &-title{
        text-align: center;
        font-weight  : bold;
        letter-spacing: 1.5px;
        margin-bottom: 50px;
    }
}