.page11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7rem;
  margin-bottom: 20vh;
}
.page11 .items-list__header, .page11 .items-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
.page11 .items-list__header {
  height: 10vh;
  place-items: center;
}
.page11 .items-list__header h1 {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 18px;
}
.page11 .items-list__header h1:nth-child(1) {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}
.page11 .items-list__item {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page11 .items-list__item--name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page11 .items-list__item--name h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
}
.page11 .items-list__item--name .image-container {
  height: 100px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page11 .items-list__item--name .image-container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page11 .items-list__item--name__delete {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}
.page11 .items-list__item--name__delete i {
  position: relative;
  color: #FF4252;
  left: 5px;
}
.page11 .items-list__item--name__delete .background {
  position: absolute;
  background-color: #FF6875;
  height: 20px;
  width: 20px;
  left: 0;
  opacity: 5%;
  border-radius: 23px;
}
.page11 .items-list__item h1, .page11 .items-list__item--quantity {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page11 .items-list__item--quantity form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page11 .items-list__item--quantity form input[type=number], .page11 .items-list__item--quantity form input[type=number]:focus {
  outline: none;
  border: none;
  padding: 15px;
  background-color: #F6F7F8;
  text-align: center;
  width: 50px;
}
.page11 .items-list__item--quantity form input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.page11 .items-list__item--quantity form button {
  width: 50px;
  background-color: #F6F7F8;
  border: none;
  outline: none;
}
.page11 .items-list__item--quantity form button i {
  color: #33A0FF;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.total .voucher form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.total .voucher form input[type=text], .total .voucher form button {
  border-radius: 0;
  border: 1px solid #F1F3F4;
}
.total .voucher form input[type=text] {
  padding: 15px 80px 15px 15px;
}
.total .voucher form input[type=text]:focus {
  outline: none;
}
.total .voucher form button {
  padding: 20px 40px;
  background-color: #33A0FF;
  font-size: 14px;
  color: white;
}
.total .checkout {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.total .checkout-container__price-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.total .checkout-container__price-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.total .checkout-container__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
}
.total .checkout button {
  font-size: 16px;
  padding: 20px;
  color: white;
  background-color: #33A0FF;
  border: none;
}/*# sourceMappingURL=page11.css.map */