@font-face {
    font-family: "Proxima Nova Rg";
    src: url("/fonts/proxima/ProximaNova-Regular.woff2") format("woff2"), url("/fonts/proxima/ProximaNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova Rg";
     font-weight: normal;
     font-style: normal;
    
}
.container{
    width: 70vw;
    // border: 1px solid red;
    margin: 0 auto;

}

.newsletter{
    display:flex;
    justify-content: center;
    &__background{
        position:fixed;
        height:100%;
        width:100%;
        z-index:2;
        /* The image used */
        background-color:black;
        opacity:50%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__popup{
        box-shadow: 5px 5px 18px;
        margin-top:20vh;
        position: fixed;
        background-color: white;
        z-index:3;
        height:70vh;
        width:60vw;
        display:flex;
        border-radius:10px;
        .close{
            position: absolute;
            right:-18px;
            top:-18px;
            height:47px;
            width: 47px;
            border-radius: 25px;
            background-color: #22262A;
            outline: none;
            border:none;
            i{
                color:grey;
                font-size:15px;
            }
        }
        &--content{
            flex:6;
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:3rem;
            padding:5em;
            h1{
                font-size:48px;
                color:#22262A;
            }
            span{
                text-align: center;
                font-size:16px;
                line-height:1.6;
            }
            form{
                margin-top:5vh;
                display:flex;
                input[type=text],button{
                    padding:20px 30px;
                    border:1px solid #F1F3F4;
                    outline:none;
                }
                button{
                    color:white;
                    background-color: #33A0FF;
                }
            }
            #checkbox-form{
                display:flex;
                gap:.8rem;
                justify-content: center;
                align-items: center;
                input[type=checkbox]{
                    width:15px;
                    height: 15px;
                }
            }
        }
        &--img{
            flex:6;
            img{
                height:100%;
            }
        }
    }
}
.newsletter__popup .close:hover{
    background: black;
}
.foot-sec1{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.foot-sec1-fticons{
    display: flex;

    &-fb{
        margin-right: 40px;
        color: blue;
    }
    &-twit{
        color: #33A0FF;
    }
}
.foot-sec1-rakuinfo{
    // border: 1px solid red;
    width: 30%;

    &-h3{
        color:lightgray ;
        font-weight: bolder;
    }
    &-p{
        margin: 25px 0;
    }

}
.foot-sec1-follow{
    // border: 1px solid blue;
    width: 30%;
    padding: 16px 0;
    &-h5{
        font-weight: bolder;
    }
    &-p{
        margin: 14px 0 30px 0;
    }
}
.foot-sec1-contact{
    // border: 1px solid green;
    width: 30%;
    padding: 16px 0;
    &-h5{
        font-weight: bolder;
    }
    &-p{
        margin: 12px 0;

        span{
            display: block
        };
    }

}
.foot-sec2{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

    &-information{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;
        }
        p{
            margin: 8px 0;
        }
    }
    &-services{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }
    &-extras{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }
    &-myaccount{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }
    &-usefullinks{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }
    &-ouroffers{
        h5{
            margin-bottom: 15px;
            font-weight: bolder;

        }
        p{
            margin: 8px 0;
        }
    }

}
.foot-sec3{
    margin: 20px 0 20px auto;
    display: block;
    width: 212px;

    img{
        margin-left: 10px;
    }
}
.header{
    display:flex;
    justify-content: space-between;
    height:10vh;
    align-items: center;
    font-size:14px;
    &__account{
        display:flex;
        align-items: center;
        gap:1rem;
        font-weight: 600;
        &--item{
            display:flex;
            gap:.5rem;
            align-items: center;
            small{
                font-weight:100;
            }
        }
        &--item:nth-child(3){
            margin: 0 0 0 30px;
        }
    }
    &__lang{
        display:flex;
        gap:1rem;
        select,select:active{
            border:none;
        }
    }
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    h1{
        font-size:32px;
        text-transform: uppercase;
        font-weight: bold;
    }
    h1:nth-child(2){
        color:#FD2E2E;
    }
}

.links{
    &__nav{
        
        &--links{
            display:flex;
            justify-content: center;
            gap:4rem;
            li{
                list-style-type: none;
                text-transform: uppercase;
                font-weight: 600;
                font-size:14px;
                a{
                    color:black;
                    text-decoration: none;
                }
                a:hover, a:active{
                    color:#33A0FF;
                }
            }
            
        }
    }
}


.bs-category-title-h3{
    text-align: center;
    font-weight: bolder;
}
.bs-category-menu{
    // display: flex;
    margin: 40px 0;
    
    
    &--ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 3rem;

        li{
            display: flex;
            box-sizing: border-box;
        }
        a{
            text-decoration: none;
            color: black;
            border-bottom: 2px solid transparent;

            &:hover{
                color: #33A0FF;
                border-bottom: 2px solid #33A0FF;
            }
        }
    }
}


.bs-category-gallery--one{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    &--box{
            // width: 240px;
            border: 1px solid lightgray;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 20px;

            
    &--image{
        position: relative;

        img{
            width: 200px;
          
        }
        &:hover &--overlay{
            opacity: 90%;
        } 
       
        &--overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s ease;
            background-color: white;
            // border: 1px solid red;

            i{
                margin: 0 10px;
                color: #33A0FF;
                font-size: 13pt;
            }
        }

    }
    &--h4{
        margin: 20px 0;
    }
    &--stars{
        display: flex;
        color: yellow;

        &--last{
            color: lightgray;
        }
    }
    &--price{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        width: 85px;
        &--enabled{
            color: red;
        }
        &--disabled{
            color: lightgray;
            text-decoration: line-through;
        }
    }

    }


}
.hot{
    position: relative;

    &::after{
        content: "HOT";
        position:absolute;
        background-color: #FD2E2E;
        padding: 5px;
        left: 5px;
        top: 5px;
        font-size: 8pt;
        color: white;
    }
}

.bs-category-gallery--two{
    @extend .bs-category-gallery--one;
    margin-top: 30px;
}
.load-link{
    margin-top: 80px;

    a{
        color: #33A0FF;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        font-weight: bolder;

        &:hover{
        border-bottom: 2px solid #33A0FF;

        }
    }
}

.others-category-freefundsupport{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;

    &--box{
        width: 330px;
        height: auto;
        padding: 10px 20px;
        // border: 1px solid red;
        text-align: center;

        &--i{
            color: #FD2E2E;
            font-size: 30pt;
        }
        &--h3{
            font-weight: bolder;
            margin: 20px 0;
        }
        &--p{
            font-size: 10pt;
            line-height:1.6;
        }
    }
}
.others-category-latestnews{
    margin: 90px 0;
}
.others-category-latestnews-h2{
    text-align: center;
    font-weight: bolder;
}
.others-category-latestnews--boxes{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.others-category-latestnews--box{
    display: flex;
    // border: 1px solid red;
    width: 330px;
    height: 126px;

       &--content{
        margin: 24px 10px;

        &--date{
            font-size: 10pt;
            color: lightgray;
        }
        &--h5{
            font-weight: bolder;
            margin: 10px 0;
        }
        &--text{
            line-height: 1.2;
            font-size: 10pt;
        }
    }
}
.input-search{
    display: flex;
    justify-content: center;
    margin: 150px 0;

    &--inputs{
        background-color: transparent;
        border: 1px solid lightgray;
        width: 500px;
        padding-left: 20px;
        margin-right: 10px;

        &:focus{
            outline: none;
        }
    }
    &--butn{
        background-color:#33A0FF;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 25px 40px;
    }
}