
.items-container{
    // border: 1px solid red;
    width: 70%;
    margin-left: auto;

    &-menusettings{
        background-color: #fbf9f9;
        width: 100%;
        // margin-left: auto;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;

        &--left{
            &--items{
                margin-right: 30px;
            }
            &--sort{
                margin-right: 10px;
                text-decoration: none;
                color: black;
            }
            &--selectNames{
                padding: 5px;
                width: 100px;
                margin-right: 30px;
            }
            &--show{
                margin-right: 10px;
            }
            &--number{
                padding: 5px;
                width: 100px;
            }

        }
       
        &--icons{
           display: flex;
           align-items: center;

           i{
               margin-left: 10px;
               font-size: 15pt;
               color: lightgray;

               &:hover{
                   color: #33A0FF;
               }
           }
        }
    }
}
.items-container-menus{
    width: 100%;
    // border: 1px solid red;
    padding: 10px 0;
    margin: 10px 0;

    &-boxes{
        display: flex;
        position: relative;
        margin: 40px 0;

        &::after{
        content: "HOT";
        position:absolute;
        background-color: #FD2E2E;
        padding: 5px 10px;
        left: 10px;
        top: 10px;
        font-size: 10pt;
        font-weight: bolder;
        color: white;
        }
        &--img{
            border: 1px solid lightgray;
            padding: 60px 10px;
        }

    }
    &-content{
        margin-left: 20px;
        
        &--h3{
            font-weight: bolder;
        }
        &--smallDetails{
            display: flex;
            margin: 30px 0;
            align-items: center;

            &--str{
                display: flex;
                color: yellow;
                margin-right: 10px;

                i{
                    font-size: 8pt;
                }
            }
            &--reviews{
                color: lightgray;
                margin-right: 10px;
            }
            &--subReviews{
                color: #33A0FF;
                font-weight: bolder;
            }
        }
        &--price{
            font-size: 18pt;

            p{
                margin-right: 10px;
            }
        }
        &--p{
            letter-spacing: 1px;
            line-height: 1.6;
            margin: 20px 0;
        }
        &--buttons{
            display: flex;

            &--add{
                padding: 20px;
                margin-right: 10px;
                border: none;
                color: #33A0FF;
                background-color: #dfe8f0;
                border-radius: 5px;
                font-size: 12pt;

                i{
                    margin-right: 10px;
                }
            }
            &--heart{
                padding: 20px;
                border: none;
                color: #33A0FF;
                background-color: #dfe8f0;
                border-radius: 5px;
                font-size: 12pt;

            }
        }
    }
}
hr{
    border: 1px solid #f6f6f6;
}
.items-container-menuNumbers{
    background-color: #fbf9f9;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;

    a{
        text-decoration: none;
        color: #04042e;
        margin: 0 8px;
        padding: 15px 23px;
        font-weight: bolder;

        &:hover{
            color: white;
            background-color: #04042e;
        }
    }
}
